<div class="container">
  <h2 class="mb-4">労働者詳細</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <tr>
              <th class="w-25">氏名</th>
              <td><%= @employee.full_name %></td>
            </tr>
            <tr>
              <th>フリガナ</th>
              <td><%= @employee.full_name_kana %></td>
            </tr>
            <tr>
              <th>生年月日</th>
              <td><%= @employee.birthday %></td>
            </tr>
            <tr>
              <th>年齢</th>
              <td><%= @employee.age %></td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td><%= @employee.postal_code %> <%= @employee.address %></td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td><%= @employee.telephone_number %></td>
            </tr>
            <tr>
              <th>入社日</th>
              <td><%= @employee.start_date %></td>
            </tr>
            <tr>
              <th>退社日</th>
              <td><%= @employee.end_date %></td>
            </tr>
          </table>
          <%= link_to "編集する", edit_employee_path, class: "btn btn-outline-info" %>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <%= form_with(url: employee_documents_path(@employee), multipart: true) do |form| %>
            <div class="form-group">
              <%= form.file_field :files, multiple: true, class: "form-control form-control-sm", onchange: "addFileField(this)" %>
            </div>
            <div id="file_fields" class="form-group"></div>
            <%= form.submit "アップロード", class: "btn btn-primary btn-block mt-2", style: "display: none;" %>
          <% end %>
          <% if @employee.documents.any? %>
            <div class="mt-4">
              <h3>アップロードされたファイル</h3>
              <ul class="list-unstyled" id="document_list">
                <% @documents.each_with_index do |document, index| %>
                  <li style="<%= 'display: none;' if index >= 10 %>">
                    <%= document.description %>:
                    <% if document.files.attached? %>
                      <%= link_to document.files.map(&:filename).join(', '), rails_blob_path(document.files.first), class: "text-decoration-none link-secondary" %>
                      <%= link_to "削除", delete_document_path(document.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "text-decoration-none link-danger" %>
                    <% else %>
                      <span>ファイルがありません</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              <% if @employee.documents.size > 10 %>
                <%= link_to "さらに表示", "#", class: "btn btn-info mt-2", id: "more_documents_button" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var documentsList = document.getElementById('document_list');
    var moreDocumentsButton = document.getElementById('more_documents_button');

    moreDocumentsButton.addEventListener('click', function(event) {
      event.preventDefault();
      var documentsToShow = documentsList.children;
      for (var i = 10; i < documentsToShow.length; i++) {
        documentsToShow[i].style.display = 'block';
      }
      moreDocumentsButton.style.display = 'none';
    });
  });
</script>
